{% extends "base.html" %}
{% block body %}
<h3>Developers</h3>
<table>
    <tr>
        <th>Name</th>
        <th>e-mails</th>
    </tr>
    {% for a in authors %}
    <tr>
        <td><a href="{{a.author_key}}.html">{{a.name}}</a></td>
        <td>
            <ul>
                {% for e in a.authors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </ul>
</table>

<h3>Reports</h3>
<ul>
    <li><a href="global_diff.html">Global changes report</a></li>
</ul>
{% endblock %}