table {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}

tr.diff_new {
    background-color: chartreuse;
}

tr.diff_added {
    background-color: lightcyan;
}

tr.diff_normal {
    background-color: white;
}

tr.diff_empty {
    background-color: gray;
}

tr.summary {
    font-weight: bold;
}